.forum-container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
    background-color: white;
    color: black;
}


.forum-title {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.forum-input input,
.forum-textarea textarea {
    background-color: #121212;
    font-weight: bold;
    color: #fff;
    border: 1px solid #333;
}

.forum-input label,
.forum-textarea label {
    font-weight: bold;
    color: #ccc !important;
}


.forum-button {
    align-self: flex-end;
    font-weight: bold;

}

.form {
    background-color: black;
    color: white;
    padding: 10%;
    height: 60vh;
    margin: 2px 4px 2px auto;
}


/* responsive design */
@media (max-width: 768px) {
    .forum-container {
        padding: 1.5rem;
        margin: 2rem 1rem;
    }

    .forum-title {
        font-size: 1.4rem;
    }

    .forum-button {
        width: 100%;
    }
}