.home-container {
  padding: 1rem;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
}

.user-square {
  width: 175px;
  height: 175px;
  background-color: #121212;
  border-radius: 8px;
  margin-right: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.user-square p {
  margin: 0;
  font-weight: bold;
}


.vertical-rectangle {
  width: 100%;
  height: 150px;
  background-color: #121212;
  margin-bottom: 10px;
  border-radius: 5px;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}