.form-container {
  max-width: 600px;
  padding: 24px;
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.field {
  flex: 1;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

.input,
.textarea {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  color: black;
  border: 1px solid #ccc;
  background-color: #d9d9d9;
  box-sizing: border-box;
}

.textarea {
  resize: vertical; 
}

.form-group {
  margin-bottom: 16px;
}

.button-container {
  text-align: center;
  margin-top: 16px;
}

button[type="submit"] {
  background-color: var(--spotify-green);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 16px;
}

button[type="submit"]:hover {
  background-color: #169c46; 
}
