@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  /*COLOR SCHEME*/
  --primary-background: #212121;
  --secondary-background: #040404;
  --spotify-green: #1DB954;
  --text-color: #FFFFFF;
  --header-color: #121212;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-background);
}